body {
  background-color: ghostwhite;
}
.container {
  max-width: 80vw;
  margin: auto;
  padding: 2em 1em;
}
@media (min-width: 48rem) {
  .container:hover {
    cursor: pointer;
  }
}
.title {
  font: 3em bold;
  border-bottom: 0.05em solid lightgrey;
  padding: 0.3em 0;
}
@media (max-width: 62rem) {
  .title {
    font: 2.5em bold;
  }
}
@media (max-width: 48rem) {
  .title {
    font: 2em bold;
  }
}
.items {
  padding: 0.5em 0;
}
.item {
  padding: 1em 0;
  border-bottom: 0.03em solid lightgrey;
}
.item:hover {
  color: navy;
}
.item:hover .item__img{
  display: flex;
  justify-content: center;
}
.item:hover .item__icon {
  width: 1em;
  height: 1.5em;
  background-image: url(../img/icons/xmark.svg);
}
.item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.15em 0 1em 0;
}
.item__headline {
  font: 2em bold;
}
@media (max-width: 62rem) {
  .item__headline {
    font: 1.5em bold;
  }
}
@media (max-width: 48rem) {
  .item__headline {
    font: 1em bold;
  }
}
.item__icon {
  width: 1.3em;
  height: 1.5em;
  background-image: url(../img/icons/plus.svg);
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-out;
}
.item__img {
  display: none;
}
img {
  max-width: 100%;
}
.item__checkbox:checked ~ .item {
  color: navy;
}
.item__checkbox:checked ~ .item .item__img {
  display: flex;
  justify-content: center;
}
.item__checkbox:checked ~ .item .item__icon {
  width: 1em;
  height: 1.5em;
  background-image: url(../img/icons/xmark.svg);
}
input {
  display: none;
}